<h3>Search result</h3>
<% @lists.each do |list| %>
<label class="checkbox">
	<input type="checkbox"><%= link_to truncate(list.name,:length => 40), list  %><span><i><%= list.created_at.to_time.strftime("%m/%d/%Y")%></i></span>&nbsp;<%= link_to("Delete", list_path(list), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') %>
	</label>
<% end %>
<%= link_to "Back to my list" , my_list_path , :class => "btn btn-small btn-info" %>