<div class="section clearfix">
  <div class="pull-right">
    <div id="quickmenu">
      <div class="clearfix"><a href="<%= root_path %>" class="pull-left">+ New</a><a href="#saveform" data-toggle="modal" data-remote="true" class="pull-left">SAVE</a><a href="#" class="pull-left">PRINT</a></div>
    </div>
  </div>
  <div class="pull-left">
    <div class="pull-left">
      <div id="logo"><img alt="" src="../assets/logo.png"><span>&nbsp;checklist<span>pal</span></span>
      </div>
    </div>
  </div>
</div>
<div class="section clearfix">
  <div id="signupfree">
    <div class="clearfix">
      <h3 class="text-success">My list</h3>
      <div class="span8">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>List name</th>
              <th>Total completed task</th>
              <th>Total task</th>
              <th>Delete List</th>
              <th>Who connection</th>
            </tr>
          </thead>
          <tbody>
            <%= render :partial => "lists/search_my_list_result" %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>