<% if @success %>
$(".panel").html("<%= escape_javascript render('lists/search_result') %>");
<% else %>
$(".panel").html('<p>"No result found !!"</p><br/><%= link_to "Back to my list" , my_list_path , :class => "btn btn-small btn-info" %>');
<% end %>