<table class="table table-condensed">
  <thead>
    <tr>
      <th>User Id</th>
      <th>User Name</th>
      <th>User Email</th>              
    </tr>
  </thead>
  <tbody>
    <% if !@users.blank? %>
    <% @users.each do |user| %>
    <tr>      
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= link_to user.email , user %></td>
    </tr>
    <% end %>
    <% else %>
    <h3>You list have no connection</h3>
    <% end %>
  </tbody>
</table>