<% title "Tudli - #{@page.title}" %>
<div class="section clearfix">
  <div class="pull-left">
    <div id="logo">
      <%= link_to (image_tag "blue_logo.png"), root_path %>
    </div>
  </div>
</div>
<div class="section clearfix">

  <p><%= raw (@page.nil? ? "The page you were looking for doesn't exist" : @page.content) %></p>
</div>