<% title "Tudli - #{@page.nil? ? "Support" : @page.title }" %>

<div class="section clearfix">
  <div class="pull-right">
  </div>
  <div class="pull-left">
    <!--
    <div id="logo">
      <%= link_to (image_tag "blue_logo.png"), root_path %>
    </div>
    -->
  </div>
</div>



<div class="section clearfix">
  <h1> <%= @page.nil? ? "Support" : @page.title %></h1>
  <br/>

  <p style="font-size: 16px;line-height: 25px"><%= raw (@page.nil? ? "" : @page.content) %></p>
</div>
