<% title "Tudli - #{@page.title}" %>
<div class="section clearfix">
  <div class="pull-left">
    <div id="logo">
      <%= link_to (image_tag "blue_logo.png"), root_path %>
    </div>
  </div>
</div>
<div class="section clearfix">
  <h1> <%= @page.nil? ? "We're sorry, but something went wrong." : @page.title %></h1>
  <p><%= raw (@page.nil? ? "We're sorry, but something went wrong." : @page.content) %></p>
</div>