<div class="signoption text-center">
  You accout in <%= root_path %> beeing downgraded to FREE plan, 
  <h3><strong>Free</strong> account</h3>
  <hr class="divider">
  <ul class="unstyled">
    <li>Create unlimited lists</li>
    <li>(3) Saved lists</li>
    <li>(2) Connections</li>
    <li>Comment on your lists</li>
    <li>Print your lists</li>
    <li>Share your lists</li>
  </ul>
You can upgraged to PAID plan every time when you need. Thank for using we sevices !
</div>
