<p>Hey Hey Hey!</p>

<p><%= @user.email %> has invited you to www.tudli.com to help complete a to do list.</p>

<p><%= link_to 'Click to Accept Your Invitation', "#{root_url}users/invitation/accept?invitation_token=#{@token}"%></p>


