<div class="divine50">
You accout in <%= root_path %> beeing upgraded to PAID plan, 
<div class="signoption text-center">
  <h3><strong>$4.95 /month</strong> account</h3>
  <hr class="divider">
  <ul class="unstyled">
    <li>Create unlimited lists</li>
    <li><u><strong>Unlimited</strong></u> saved lists</li>
    <li><u><strong>Unlimited</strong></u> connections</li>
    <li>Comment on your list</li>
    <li>Print your lists</li>
    <li>Share your lists</li>
  </ul>  
</div>
</div>