<!--Results after search my connections-->

<h3>Search result</h3>
<% @my_connects.each do |connect| %>
  <label class="checkbox">
    <input type="checkbox">
    <span class="name"><%= connect.email %></span>
  </label>
<% end %>	