<div class="section clearfix">
  <div id="todolistsearch">
    <div class="searchbox">
      <form>
        <div class="row-fluid">
          <input type="text" name="listname" value="" class="input-block-level searchboxtodolist">
          <input type="submit" value="add +" class="btn btn-primary">
        </div>
      </form>
    </div>
    <div class="todolist">
      <div class="row-fluid"><span class="span12">
          <ul class="unstyled">
            <li>
              <label class="items">
                <input type="checkbox">&nbsp;Clear browsing history
              </label>
            </li>
          </ul></span></div>
    </div>
  </div>
</div>
