  <div class="section clearfix">
      <div id="signupoptions">
        <div class="signupoptions-inner">
          <div class="clearfix">
            <div class="divine50">
              <div class="signoption text-center">
                <h3><strong>Free</strong> account</h3>
                <hr class="divider">
                <ul class="unstyled">
                  <li>Create unlimited lists</li>
                  <li>(3) Saved lists</li>
                  <li>(2) Connections</li>
                  <li>Comment on your lists</li>
                  <li>Print your lists</li>
                  <li>Share your lists</li>
                </ul>
                <p><%= link_to 'Sign Up',  new_user_registration_path(:plan => 'free') , :class => 'btn btn-small btn-primary  signup text-center' %></p>
              </div>
            </div>
            <div class="divine50">
              <div class="signoption text-center">
                <h3><strong>$4.95 /month</strong> account</h3>
                <hr class="divider">
                <ul class="unstyled">
                  <li>Create unlimited lists</li>
                  <li><u><strong>Unlimited</strong></u> saved lists</li>
                  <li><u><strong>Unlimited</strong></u> connections</li>
                  <li>Comment on your list</li>
                  <li>Print your lists</li>
                  <li>Share your lists</li>
                </ul>
                <p><%= link_to 'Sign Up',  new_user_registration_path(:plan => 'paid') , :class => 'btn btn-primary btn-medium signup text-center' %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
