/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 * require_tree .
 *= require bootstrap-datepicker
 */
.handle:hover{
    cursor: move;
    line-height: 50px;
}
.handle{
    line-height: 50px;
}
.checkbox{
    min-height : 50px;
}

.checkbox:hover{
    min-height : 50px;
    vertical-align:middle;
    background-color : rgb(252, 249, 208);    
}
.action {
    float:right;
    display:none;
}

.small-text {
    height:18px;
}
.inputdate{
    display:none;
}
.items-box{
    position: relative;
    display: block;
    width: 18px;
    height: 18px;
    border: 1px solid #020100;
}
.item-box> input {
  position: absolute;
  outline: none;
  left: 0;
  top: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  border: none;
  margin: 0;
  opacity: 0;
  z-index: 1;
}

.item-box > input:active + .box {
  border-color: #aaa;
  background-color: #ddd;
}
.item-box.checked > .box > .tick {
  display: none;
}