/* line 2, /Users/rueta/DeskWork/git/checklistpal/app/assets/stylesheets/fixing2.less */
input[type="checkbox"] {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  border: solid 1px #d9d9d9 !important;
}
/* line 6, /Users/rueta/DeskWork/git/checklistpal/app/assets/stylesheets/fixing2.less */
.taskinfo .items .checkbox input[type="checkbox"] {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  border: solid 1px #d9d9d9 !important;
}
/* line 11, /Users/rueta/DeskWork/git/checklistpal/app/assets/stylesheets/fixing2.less */
.taskinfo .items {
  padding-top: 0px;
  padding-left: 20px;
  border-bottom: 1px solid #EEE;
}
/* line 16, /Users/rueta/DeskWork/git/checklistpal/app/assets/stylesheets/fixing2.less */
.taskinfo .items .checkbox {
  margin-bottom: 2px !important;
  margin-top: 5px;
}
/* line 19, /Users/rueta/DeskWork/git/checklistpal/app/assets/stylesheets/fixing2.less */
.taskinfo .items .checkbox .mark {
  margin-left: -20px;
}
/* line 22, /Users/rueta/DeskWork/git/checklistpal/app/assets/stylesheets/fixing2.less */
.taskinfo .items .checkbox .due_date_show,
.taskinfo .items .checkbox .task-des.handle {
  margin-left: 0;
}
/* line 27, /Users/rueta/DeskWork/git/checklistpal/app/assets/stylesheets/fixing2.less */
.taskinfo .items .action {
  padding-top: 5px;
  top: auto;
  bottom: 5px;
}
/* line 33, /Users/rueta/DeskWork/git/checklistpal/app/assets/stylesheets/fixing2.less */
.taskinfo .items .comment-add article {
  overflow: hidden;
}
/* line 35, /Users/rueta/DeskWork/git/checklistpal/app/assets/stylesheets/fixing2.less */
.taskinfo .items .comment-add article img {
  float: left;
  margin-top: 5px;
}
/* line 39, /Users/rueta/DeskWork/git/checklistpal/app/assets/stylesheets/fixing2.less */
.taskinfo .items .comment-add article span {
  padding-left: 50px;
  display: block;
}
/* line 46, /Users/rueta/DeskWork/git/checklistpal/app/assets/stylesheets/fixing2.less */
.taskinfo li {
  line-height: 25px;
}
/* line 56, /Users/rueta/DeskWork/git/checklistpal/app/assets/stylesheets/fixing2.less */
#logo {
  max-width: 410px;
  line-height: 30px;
}
/* line 59, /Users/rueta/DeskWork/git/checklistpal/app/assets/stylesheets/fixing2.less */
#logo span {
  font-weight: 400;
}
/* line 64, /Users/rueta/DeskWork/git/checklistpal/app/assets/stylesheets/fixing2.less */
#update-card {
  padding: 15px;
}
@media (max-width: 480px) {
  /* line 70, /Users/rueta/DeskWork/git/checklistpal/app/assets/stylesheets/fixing2.less */
  .navbar-static-top > .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 480px) {
  /* line 78, /Users/rueta/DeskWork/git/checklistpal/app/assets/stylesheets/fixing2.less */
  .path_top_login {
    padding-left: 20px;
    padding-right: 20px;
  }
}
