/* 
    Document   : print
    Created on : Jul 4, 2013, 9:13:17 AM
    Author     : User
    Description:
        Purpose of the stylesheet follows.
*/

@media print {
    body * {
        visibility: hidden;
    }

    .todolist, .todolist *, .list-name {
        visibility: visible;
    }

    #logo {
        position: absolute;
        left: 40px;
        top: 10px;
    }

    .todolist {
        position: absolute;
        left: 50px;
        top: 70px;
    }

    a:link:after {
        content: "";
    }

    .comment-togger.show-comment {
        visibility: hidden;
    }
}