<p>Hey Hey Hey!</p>

<p><%= @resource.invited_by.email %> has invited you to www.tudli.com to help complete a to do list.</p>

<p><%= link_to 'Click to Accept Your Invitation', accept_invitation_url(@resource, :invitation_token => @resource.invitation_token) %></p>





